
.schedule-rows td {
  width: 100px;
  height: 50px;
  margin: 5px;
  padding: 15px;
  background-color: #3498DB;
  cursor: pointer;

}

.scehedule-table table,th,td {
  border: 2px solid black;
  text-align: center;
}

.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: center;
  top: -12px;
}

.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] { background-color: #E74C3C; }

.schedule-rows td[data-disabled] { opacity: 0.55; }
