{% extends "main.html" %}

{% block title %}Scheduler OP - About Us{% endblock %}

{% block content %}
    {% load static %}
    <section id="about-us" class="container">
        <h1 class="center">Meet the Team</h1>
        <p class="lead center">This web application created by : </p>
        <div class="gap"></div>
        <div id="meet-the-team" class="row">
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img id="amir" class="img-responsive img-thumbnail img-circle"
                            src="{% static 'images/amir-135.jpg' %}" alt=""></p>
                    <h5>Amir
                        <small class="designation muted">13514017</small>
                    </h5>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a
                        class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a
                        class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a
                        class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'images/jeje-135.jpg' %}"
                            alt="">
                    </p>
                    <h5>Jeremia Jason Lasiman
                        <small class="designation muted">13514021</small>
                    </h5>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a
                        class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a
                        class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a
                        class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'images/bervi-135.jpg' %}"
                            alt=""></p>
                    <h5>Bervianto Leo Pratama
                        <small class="designation muted">13514047</small>
                    </h5>
                    <a class="btn btn-social btn-facebook" href="https://www.facebook.com/bervianto.leo"><i
                            class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus"
                                                              href="https://plus.google.com/u/0/+BerviantoLeoPratama"><i
                        class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter"
                                                             href="https://twitter.com/berviantoleo"><i
                        class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin"
                                                         href="https://www.linkedin.com/in/bervianto-pratama-360b51118"><i
                        class="icon-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'images/richard-135.jpg' %}"
                            alt=""></p>
                    <h5>Richard Wellianto
                        <small class="designation muted">13514051</small>
                    </h5>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a
                        class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a
                        class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a
                        class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'images/zahid-135.jpg' %}"
                            alt=""></p>
                    <h5>M. Az-zahid Adhitya Silparensi
                        <small class="designation muted">13514095</small>
                    </h5>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a
                        class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a
                        class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a
                        class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}