{% extends "main.html" %}

{% load static %}

{% block title %}Scheduler OP - About Us{% endblock %}

{% block content %}
<h1 class="title">Meet the Team</h1>

<p class="subtitle">This web application created by : </p>
<div class="columns is-multiline">
  {% for contributor in contributors %}
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img id="{{ contributor.name }}" src="{% static contributor.image %}">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered">
          <h5 class="title">{{ contributor.name }}</h5>
          <h6 class="subtitle">{{ contributor.nim }}</h6>
          <div class="buttons">
            <a class="button" href="{{ contributor.facebook }}">
              <span class="icon">
                <i class="fab fa-facebook"></i>
              </span>
            </a>
            <a class="button" href="{{ contributor.linkedin }}">
              <span class="icon">
                <i class="fab fa-linkedin"></i>
              </span>
            </a>
            <a class="button" href="{{ contributor.github }}">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
