<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
        <div class="columns">
            <div class="column">
              <h5 class="subtitle">Github Repository</h5>
              <a class="button is-link is-outlined" href="https://github.com/berv-uni-projects/scheduler-op"><span class="icon">
                  <i class="fab fa-github"></i>
                </span>
              </a>
            </div>
            <div class="column">
              <h5 class="subtitle">Quick Links</h5>
                <a class="button is-small is-link is-outlined" href="/">Home</a>
                <a class="button is-small is-link is-outlined" href="/about-us/">About Us</a>
            </div>
          </div>
    </div>
  </div>
  <div class="columns">
    <div class="container">
      <div class="content has-text-centered">
          <h5 class="subtitle">Scheduler OP © 2018 Bervianto Leo Pratama</h5>
      </div>
    </div>
  </div>
</footer>