{% extends "main.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <h2 class="peter-river">Input Your File To Bottom</h2>
            <!-- Upload form. Note enctype attribute! -->
            <form class="upload-file" action="{% url "list" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>

                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

                <p>
                    {{ form.docfile.errors }}
                    {{ form.docfile }}
                </p>
                <p>{{ form.radiobutton.label_tag }} </p>
                {% for radio in form.radiobutton %}
                    {{ radio }}
                {% endfor %}
                <p><input class="btn btn-primary btn-lg" type="submit" value="Upload"/></p>
            </form>
        </div>
    </section>

{% endblock %}
